<div class="container mt-5">
    <h1>Nuestros productos</h1>
    <hr>

    <ul>
        {{#each products}}
        <li>{{title}}</li>
        {{/each}}
    </ul>

    <a href="/" class="btn btn-dark">Inicio</a>
</div>